.box {
    width: 100%;
    height: 100%;

    .img {
        width: 375px;
        height: 375px;
        img{
            width: 100%;
            height: 100%;
        }

    }

    h2 {
        color: red;

        span {
            width: 30px;
            height: 20px;
            background: #eac;
            color: white;
            padding: 2px;
            font-size: 16px;
        }

    }

    p {
        color: #ccc;
        span {
            text-decoration: line-through;
        }
    }
    .main{
        width: 100%;
        height: 50px;
    }
    .shop{
        display: flex;
        justify-content: space-between;
    }
}